.carousel__contenedor{
    position: relative;
}

.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    display: block;
    cursor: pointer;
    top: calc(50% - 35px);
}

.carousel__anterior{
    left: -30px;
}

.carousel__siguiente{
    right: -30px;
}

.carousel__lista{
    overflow: hidden;
}

.carousel__elemento{
    padding: 2rem;
}

.carousel__elemento img{
    width: 16rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 1px 1px 1px 5px #323e4a;
    transition: all 0.5s;
}